<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RoomDetailServlet</servlet-name>
        <servlet-class>controller.RoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomServlet</servlet-name>
        <servlet-class>controller.ListRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReviewServlet</servlet-name>
        <servlet-class>controller.EditReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <servlet-class>controller.DeleteReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServletController</servlet-name>
        <servlet-class>controller.ListServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRoomServlet</servlet-name>
        <servlet-class>controller.AdminUpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListRoomsServlet</servlet-name>
        <servlet-class>controller.AdminListRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <servlet-class>controller.AdminDeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddNewRoomServlet</servlet-name>
        <servlet-class>controller.AdminAddNewRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomDetailServlet</servlet-name>
        <url-pattern>/roomDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/verifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/historyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>/PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/homeServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homeServlet</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ListRoomServlet</servlet-name>
        <url-pattern>/listRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReviewServlet</servlet-name>
        <url-pattern>/editReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReviewServlet</servlet-name>
        <url-pattern>/deleteReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/reviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServletController</servlet-name>
        <url-pattern>/listservletcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRoomServlet</servlet-name>
        <url-pattern>/adminUpdateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListRoomsServlet</servlet-name>
        <url-pattern>/adminListRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <url-pattern>/adminDeleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddNewRoomServlet</servlet-name>
        <url-pattern>/adminAddNewRoomServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
